.row
    .large-4.column
        h3 Inside the house
    .large-8.column
        :markdown
            Five generous bedrooms sleep up to ten people, with three bathrooms (including two deep baths). Children and couples welcome with two separate living areas.

        h4 Upstairs
        ul
            li 
                em Main bedroom. 
                | Queen size bed & ensuite bathroom with shower, toilet & deep bath.
            li 
                em Bedroom 2 & 3. 
                | Single beds x 2 which zip together to form King size beds if required for couples.
            li 
                em Bathroom 2. 
                | With shower, toilet & deep bath.
            li 
                em Living room 2. 
                | Large flat screen TV & Blu-ray DVD.

        h4 Downstairs
        ul
            li 
                em Main living area. 
                | Large flat screen TV & Blu-ray. 
            li 
                em Fully equipped kitchen / dining area.
            li 
                em Bathroom 3. 
                | Shower & toilet.
            li 
                em Bedroom 4. 
                | Queen size ensemble.
            li 
                em Bedroom 5. 
                | One set of single bunk beds.
            li 
                em Laundry. 
                | Washing machine & clothes dryer.

        h4 Amenities
        ul
            li Electrolux induction stovetop & fan-forced oven
            li BBQ – 4 gas burners
            li Ironing facilities 
            li Hair dryer
            li Microwave
            li 2 deep baths
            li Ceiling fans x 3
            li Fully equipped kitchen
            li 2 separate living areas
            li High chair & portable cot 
            li 2 large Flat Screen TV’s with Blu-ray DVD players
            li Double carport
            li Large terraced garden
            li Washing machine
            li Clothes dryer
            li Stroll to beach

        h4 Linen
        :markdown
            Includes sheets, pillowcase, towel, hand towel, face washer & bathmat. This is arranged separately at the subsidised rate of $100 per booking (for max. 10 guests).