.row
    .large-4.column
        h3 Things to do nearby
    .large-8.column
        h4 By the beach
        :markdown
            The Treehouse lies between Greenfields & Blenheim Beaches. From the rear of the house through the trees you can see the Beach Reserve to Blenheim Beach. A few moments south is Greenfields Beach, our personal favourite.

            Both beaches branch from the White Sands Walk which continues North all the way to Huskisson (with many other beaches along the way) & South to Hyams Beach. From Greenfields Beach there is a ten minute bush track through to Chinamans Beach & Hyams.

        h4 In the National Park
        :markdown
            A short drive away are all the beaches of the Booderee National Park owned and cared for by the local Indigenous community. It includes the two surfing beaches: Caves & Bherwerre. For more information, visit:
            [www.booderee.gov.au](http://www.booderee.gov.au)

        h4 Eating in & out
        :markdown
            *Vincentia Shopping Village.* As you drive into Vincentia there is a small shopping village which includes a large Coles (open til late & public holidays), a butcher, seafood supplier and bakery so there is no need to shop before you leave home.

            *Cafes.* There are numerous cafes in both the Vincentia and especially Huskisson communities, including a vegetarian option at Pilgrims.

            *Restaurants.* There are also a few fine dining restaurants such as the famous Gunyah Restaurant within the Paperbark Camp at Woollamia, the new Waterhouse and Wildginger (Asian fusion) bar and restaurants in Huskisson.

            *Family feeds.* If it's a simple family feed there's great Chinese (esp roast duck) up at the Vincentia Golf Club, the usual fare at the RSL Club in Huskisson, or top notch pub meals at the refurbished Husky Pub (the latter two have the best views in town). The best Pizzeria is Faro Bianco, also in Huskisson.

            *Cook for yourself.* Or you can purchase your supplies and cook up a feast at the Treehouse! The choice is yours.
